{# File: app/templates/modals/new_product_modal.html #}
<div class="modal fade"
     id="productModal{{ idx }}"
     tabindex="-1"
     aria-labelledby="productModalLabel{{ idx }}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel{{ idx }}">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img src="{{ product.image_url }}"
             class="img-fluid mb-3 rounded"
             alt="{{ product.name }}">
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Quantity:</strong> {{ product.quantity }} kg</p>
        <p><strong>Price:</strong> R{{ product.price_per_kg }} /kg</p>
        {% if product.gallery %}
        <hr>
        <h6>Gallery</h6>
        <div class="row gx-2">
          {% for img in product.gallery %}
          <div class="col-3 mb-2">
            <img src="{{ img }}"
                 class="img-fluid rounded"
                 alt="Gallery image">
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
